p {

	color: black;
	border: solid;
	border-color: black;
	border-bottom-color: red;
	margin-left: 100px
	margin-right: 200px;
	background-color: lightgreen;
	font-family: 
	padding: 50px;

}

#Latin {
	font: 15px ariel, sans-serif;
}

#Translation {
	border-bottom-color: black;
	border-top-color: red;
	border-top-style: dotted;
}


img {

	border: dotted 3px;
	outline: groove;
	outline-color: black;
	
	text-align: right;
	border-radius: 100px;

	display: block;
	margin-left: auto;
	margin-right: auto;

}

.funny {
	font-family: "Luminari";
}

h1 {
	text-align: center;
	font-family: "impact", Times, serif;
	color: tan;
	border: solid;
	border-color: color: tan;;
	background-color: black;s

}

a { 

	color: black;
	background-color: red;
	border: solid;
	border-color: black;

}

html {

	background-image: url("https://garden.spoonflower.com/?designs=5785774&formula=ripfq&size=m=d-i-60.jpg");
}