#display-messages {
  border:solid;
  padding-left: 50px;
  padding-right: 50px;
  color: green;
  background-color: black;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}

#messagewindow {
 overflow: auto;
 height: 100px;
 margin-left: 1%;
}
