#display-messages {
  border:solid;
  padding-left: 50px;
  padding-right: 50px;
  color: green;
  background-color: black;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}

#displaywindow {
 overflow: auto;
 height: 500px;
 width: 1200px;
 overflow: auto;
 margin-left: 1%;
}
